# Salin file ini ke .env dan isi nilainya
# Gunakan: openssl rand -hex 32  untuk generate JWT_SECRET

JWT_SECRET=ganti-dengan-string-acak-minimal-32-karakter

MY_DOMAIN=ganti dengan domain atau _

PIN_SALT=ganti dengan salt untuk pin, bisa berupa string acak atau kata yang mudah diingat, tapi pastikan untuk tidak menggunakan nilai yang mudah ditebak.