# Node
node_modules/
npm-debug.log

# Environment variables
.env

# Database & Config lokal
/app/data/input-options.json
/data/
/backend/data/
config.json
/note_do_not_upload

# OS files
.DS_Store
Thumbs.db